<div class="container">
<h2>My Blog</h2>
<img src="./assets/image.jpg">
<p>Name : Dipika Khobragade</p>
<p>Contact No : 9860901442</p>
<p>Email Id : sk.dipika@gmail.com</p>
<p>Address : Palava City, Thane</p>
<p>Education: MBA</p>
<hr>
<h3>My Introduction</h3>
<p>My name is Dipika Shamrao Khobragade and I have completed my post-graduation from Pune University. I have been working as an Angular Frontend Developer for the past 2 years. 
    My technical skills include Angular, Typescript, Javascript, HTML, CSS, and MongoDB. My roles and responsibilities involve developing responsive web pages and fixing bugs.
    Apart from work, I enjoy reading books and traveling. 
    I am hardworking, and always eager to learn new things. This is all about me. Thank You!
</p>
<p class="tools">Tools : GIT, GitHub, JIRA, and VS Code</p>
</div>
